In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df= pd.read_csv(r"C:\Users\vemer\Downloads\titanic dataset.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [18]:
pip install ollama

Requirement already satisfied: ollama in c:\users\vemer\anaconda3\lib\site-packages (0.4.7)
Requirement already satisfied: httpx<0.29,>=0.27 in c:\users\vemer\anaconda3\lib\site-packages (from ollama) (0.27.2)
Requirement already satisfied: pydantic<3.0.0,>=2.9.0 in c:\users\vemer\anaconda3\lib\site-packages (from ollama) (2.9.2)
Requirement already satisfied: anyio in c:\users\vemer\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama) (4.6.2.post1)
Requirement already satisfied: certifi in c:\users\vemer\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\vemer\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama) (1.0.6)
Requirement already satisfied: idna in c:\users\vemer\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama) (3.10)
Requirement already satisfied: sniffio in c:\users\vemer\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\vemer\anaconda3\lib\site-packages (from httpcore==1.*->httpx<0.29,>=0.27->ollama) (0.14.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\vemer\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.9.0->ollama) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in c:\users\vemer\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.9.0->ollama) (2.23.4)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\vemer\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.9.0->ollama) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [36]:
import ollama
def generate_insights(df_summary):
    prompt = f"Analyze the dataset summary and provide insights:\n\n{df_summary}"
    response = ollama.chat(model="mistral", messages=[{"role": "user", "content": prompt}])
    return response['message']['content']
# Generate AI Insights
summary = df.describe().to_string()
insights = generate_insights(summary)
print("\n AI-Generated Insights:\n", insights)

 AI-Generated Insights:
  The dataset consists of 891 observations with no missing values in any column. Here are some insights derived from the summary statistics:

1. Survived: Majority (64.7%) of the passengers survived, while around one-third did not survive. The minimum and maximum values are 0 and 1 respectively.

2. Pclass: The distribution is relatively even across three categories with a mean of 2.31 and standard deviation of 0.84. This implies that most passengers were traveling in either first class, second class, or third class cabins.

3. Age: The average age is approximately 29.7 years, but the data shows a large spread with a minimum age of 0.42 and maximum age of 80. The standard deviation suggests that there is significant variation in the ages of passengers.

4. SibSp (Number of siblings/spouses on board): On average, passengers had about half a sibling or spouse on board with them. The distribution varies widely from 0 to 8, but the majority of passengers traveled alone or with one other person.

5. Parch (Number of parents/children on board): Passengers mostly traveled without any family members, as evidenced by an average value close to 0 and a standard deviation below 1.

6. Fare: The average fare is about 32.2, but it varies significantly from 0 to 512.33. This indicates a wide range of fares for passengers.

In [35]:
pip install gradio

Requirement already satisfied: gradio in c:\users\vemer\anaconda3\lib\site-packages (5.20.0)
Requirement already satisfied: aiofiles<24.0,>=22.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (23.2.1)
Requirement already satisfied: anyio<5.0,>=3.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (4.6.2.post1)
Requirement already satisfied: fastapi<1.0,>=0.115.2 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.115.10)
Requirement already satisfied: ffmpy in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.5.0)
Requirement already satisfied: gradio-client==1.7.2 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (1.7.2)
Requirement already satisfied: groovy~=0.1 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.1.2)
Requirement already satisfied: httpx>=0.24.1 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.27.2)
Requirement already satisfied: huggingface-hub>=0.28.1 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.29.1)
Requirement already satisfied: jinja2<4.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (3.1.4)
Requirement already satisfied: markupsafe~=2.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (2.1.3)
Requirement already satisfied: numpy<3.0,>=1.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (3.10.10)
Requirement already satisfied: packaging in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (23.2)
Requirement already satisfied: pandas<3.0,>=1.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (2.2.2)
Requirement already satisfied: pillow<12.0,>=8.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (10.3.0)
Requirement already satisfied: pydantic>=2.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (2.9.2)
Requirement already satisfied: pydub in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.18 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.0.20)
Requirement already satisfied: pyyaml<7.0,>=5.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (6.0.1)
Requirement already satisfied: ruff>=0.9.3 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.9.9)
Requirement already satisfied: safehttpx<0.2.0,>=0.1.6 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.1.6)
Requirement already satisfied: semantic-version~=2.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (2.10.0)
Requirement already satisfied: starlette<1.0,>=0.40.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.46.0)
Requirement already satisfied: tomlkit<0.14.0,>=0.12.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.13.2)
Requirement already satisfied: typer<1.0,>=0.12 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.15.2)
Requirement already satisfied: typing-extensions~=4.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (4.12.2)
Requirement already satisfied: uvicorn>=0.14.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio) (0.34.0)
Requirement already satisfied: fsspec in c:\users\vemer\anaconda3\lib\site-packages (from gradio-client==1.7.2->gradio) (2024.3.1)
Requirement already satisfied: websockets<16.0,>=10.0 in c:\users\vemer\anaconda3\lib\site-packages (from gradio-client==1.7.2->gradio) (15.0)
Requirement already satisfied: idna>=2.8 in c:\users\vemer\anaconda3\lib\site-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in c:\users\vemer\anaconda3\lib\site-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: certifi in c:\users\vemer\anaconda3\lib\site-packages (from httpx>=0.24.1->gradio) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\vemer\anaconda3\lib\site-packages (from httpx>=0.24.1->gradio) (1.0.6)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\vemer\anaconda3\lib\site-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in c:\users\vemer\anaconda3\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (3.13.1)
Requirement already satisfied: requests in c:\users\vemer\anaconda3\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (2.32.2)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\vemer\anaconda3\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (4.66.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vemer\anaconda3\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vemer\anaconda3\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vemer\anaconda3\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2023.3)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\vemer\anaconda3\lib\site-packages (from pydantic>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in c:\users\vemer\anaconda3\lib\site-packages (from pydantic>=2.0->gradio) (2.23.4)
Requirement already satisfied: click>=8.0.0 in c:\users\vemer\anaconda3\lib\site-packages (from typer<1.0,>=0.12->gradio) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\vemer\anaconda3\lib\site-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\users\vemer\anaconda3\lib\site-packages (from typer<1.0,>=0.12->gradio) (13.3.5)
Requirement already satisfied: colorama in c:\users\vemer\anaconda3\lib\site-packages (from click>=8.0.0->typer<1.0,>=0.12->gradio) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\vemer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.16.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\vemer\anaconda3\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\vemer\anaconda3\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.15.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vemer\anaconda3\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vemer\anaconda3\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.2.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\vemer\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import gradio as gr
def eda_analysis(file):
    df = pd.read_csv(file)
    summary = df.describe().to_string()
    insights = generate_insights(summary)
    return insights
demo = gr.Interface(fn=eda_analysis, inputs="file", outputs="text")
demo.launch(share=True)

* Running on local URL:  http://127.0.0.1:7861

Could not create share link. Please check your internet connection or our status page: https://status.gradio.app.